<footer>
    <div class="container rodape">
        <div class="links-footer">
            <div>
                <h2>Saiba Mais</h2>
                <ul>
                    <li><a href="#">Regras de utilização</a></li>
                    <li><a href="#">Suporte</a></li>
                    <li><a href="#">Central de Ajuda</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
            <div>
                <h2>Páginas</h2>
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Lançamentos</a></li>
                    <li><a href="#">Promoções</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
        </div>
        <img class="logo-rodape" src="/assets/img/logo2.0.png" class="logo-rodape"  alt="Logo E-Players">
        <div class="sociais">
            <p>Receba notícias e promoções!</p>
            <form action="">
                <input id="campo-email" type="email" placeholder="E-mail" required>
                <button onclick="cadastrarNewsletter()">Cadastrar</button>                
            </form>
            <ul class="wrapper">
                <h2>Siga-nos em:</h2>
                <li class="icon facebook">
                  <span class="tooltip">Facebook</span>
                  <span><i class="fab fa-facebook-f"></i></span>
                </li>
                <li class="icon instagram">
                  <span class="tooltip">Instagram</span>
                  <span><i class="fab fa-instagram"></i></span>
                </li>
              </ul>
        </div>
    </div>
</footer>