<main>
    <section id="carrossel" class="banner banner-joystick">
        <div class="container posicionamento-banner">
            <!-- <div class="conteudo-banner">
                <h1>Joystick</h1>
                <p>Até 80% de desconto</p>
            </div> -->
        </div>
    </section>
    
    <div class="container divisao">
        <h2>departamentos</h2>
    </div>

    <div class="container departamentos">
        <div>
            <a href="index.html"><img src="/assets/img/pc.png">pc gamer</a>
        </div>
        <div>
            <a href="index.html"><img src="/assets/img/tec. e mouse.png">mouse e teclado</a>
        </div>
        <div>
            <a href="index.html"><img src="/assets/img/cadeira.png">acessórios</a>
        </div>
        <div>
            <a href="index.html"><img src="/assets/img/joystick.png">videogame</a>
        </div>
        <div>
            <a href="index.html"><img src="/assets/img/fone.png">fone gamer</a>
        </div> 
    </div>

    <div class="container divisao">
        <h2>ofertas do dia</h2>
    </div>

    <section class="ofertas">
        <div class="container">
            <div class="espaco-produtos">
                <div class="cardnews">
                    <img src="/assets/img/PC VENDA.png" alt="Foto de um produto gamer">
                    <div class="texto-card">
                        <h3>Produto</h3>
                        <p>Descrição do produto.</p>
                        <p class="preco">R$500,00</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
                <div class="cardnews">
                    <img src="/assets/img/PC VENDA.png" alt="Foto de um produto gamer">
                    <div class="texto-card">
                        <h3>Produto</h3>
                        <p>Descrição do produto.</p>
                        <p class="preco">R$500,00</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
                <div class="cardnews">
                    <img src="/assets/img/PC VENDA.png" alt="Foto de um produto gamer">
                    <div class="texto-card">
                        <h3>Produto</h3>
                        <p>Descrição do produto.</p>
                        <p class="preco">R$500,00</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
                <div class="cardnews">
                    <img src="/assets/img/PC VENDA.png" alt="Foto de um produto gamer">
                    <div class="texto-card">
                        <h3>Produto</h3>
                        <p>Descrição do produto.</p>
                        <p class="preco">R$500,00</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
                <div class="cardnews">
                    <img src="/assets/img/PC VENDA.png" alt="Foto de um produto gamer">
                    <div class="texto-card">
                        <h3>Produto</h3>
                        <p>Descrição do produto.</p>
                        <p class="preco">R$500,00</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>              
            </div>
        </div>
    </section>   

    <div class="container divisao">
        <h2>novidades</h2>
    </div>

    <section class="ofertas">
        <div class="container">
            <div class="espaco-produtos">
                <div class="cardnews">
                    <img src="/assets/img/PC VENDA.png" alt="Foto de um produto gamer">
                    <div class="texto-card">
                        <h3>Produto</h3>
                        <p>Descrição do produto.</p>
                        <p class="preco">R$500,00</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
                <div class="cardnews">
                    <img src="/assets/img/PC VENDA.png" alt="Foto de um produto gamer">
                    <div class="texto-card">
                        <h3>Produto</h3>
                        <p>Descrição do produto.</p>
                        <p class="preco">R$500,00</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
                <div class="cardnews">
                    <img src="/assets/img/PC VENDA.png" alt="Foto de um produto gamer">
                    <div class="texto-card">
                        <h3>Produto</h3>
                        <p>Descrição do produto.</p>
                        <p class="preco">R$500,00</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
                <div class="cardnews">
                    <img src="/assets/img/PC VENDA.png" alt="Foto de um produto gamer">
                    <div class="texto-card">
                        <h3>Produto</h3>
                        <p>Descrição do produto.</p>
                        <p class="preco">R$500,00</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
                <div class="cardnews">
                    <img src="/assets/img/PC VENDA.png" alt="Foto de um produto gamer">
                    <div class="texto-card">
                        <h3>Produto</h3>
                        <p>Descrição do produto.</p>
                        <p class="preco">R$500,00</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>              
            </div>
        </div>
    </section>   

    <div class="container divisao">
        <h2>os mais vendidos</h2>
    </div>

    <section class="ofertas">
        <div class="container">
            <div class="espaco-produtos">
                <div class="cardnews">
                    <img src="/assets/img/PC VENDA.png" alt="Foto de um produto gamer">
                    <div class="texto-card">
                        <h3>Produto</h3>
                        <p>Descrição do produto.</p>
                        <p class="preco">R$500,00</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
                <div class="cardnews">
                    <img src="/assets/img/PC VENDA.png" alt="Foto de um produto gamer">
                    <div class="texto-card">
                        <h3>Produto</h3>
                        <p>Descrição do produto.</p>
                        <p class="preco">R$500,00</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
                <div class="cardnews">
                    <img src="/assets/img/PC VENDA.png" alt="Foto de um produto gamer">
                    <div class="texto-card">
                        <h3>Produto</h3>
                        <p>Descrição do produto.</p>
                        <p class="preco">R$500,00</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
                <div class="cardnews">
                    <img src="/assets/img/PC VENDA.png" alt="Foto de um produto gamer">
                    <div class="texto-card">
                        <h3>Produto</h3>
                        <p>Descrição do produto.</p>
                        <p class="preco">R$500,00</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
                <div class="cardnews">
                    <img src="/assets/img/PC VENDA.png" alt="Foto de um produto gamer">
                    <div class="texto-card">
                        <h3>Produto</h3>
                        <p>Descrição do produto.</p>
                        <p class="preco">R$500,00</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>              
            </div>
        </div>
    </section>   
</main>

<!-- SEO - Search Engine Optimization -->
<!-- NVDA -->
<!-- Mobile First -->

